@import "../../assets/style/variables.scss";
@import "../../assets/style/mixins.scss";

.function-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .label {
        min-width: 6rem;
    }

    .box {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: $function-height;
        border: $main-border;

        .column {
            display: inline-block;
            margin-left: 0.5rem;
            padding: $function-column-padding;
            border: $main-border;
        }
    }

    .btn {
        cursor: pointer;
        height: $function-height;
        color: $light-color;
        background: $dark-color;
        border: none;
        text-decoration: none;
        font-size: 0.9rem;
        font-family: inherit;
        padding: $btn-padding;
    }

    .btn:focus {
        outline: none;
    }

    .btn:active {
        @include transform(scale(0.98));
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .function-container {
        margin-bottom: 0.5rem;

        .label {
            min-width: 5rem;
        }
    }
}
