@import "../../assets/style/variables.scss";

$cell-padding: 0.5rem 1rem;

.columns-container {
    width: 12rem;
    border: $main-border;

    h5 {
        padding: $cell-padding;
        border-bottom: $main-border;
    }

    .column {
        cursor: pointer;
        display: block;
        padding: $cell-padding;
    }
}
