@import "../../assets/style/variables.scss";

.columns-container {
    width: 100%;
    border: $main-border;

    h5 {
        padding: $default-padding;
        border-bottom: $main-border;
    }

    .column {
        cursor: pointer;
        display: block;
        padding: $default-padding;
    }
}
