@import "../../assets/style/variables.scss";

header {
    min-height: $app-header-height;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-color;
    background-color: $dark-color;
}
