@import "../../assets/style/variables.scss";

header {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light-color;
    background-color: $dark-color;
}
